# This is a basic workflow to help you get started with Actions

name: Totally not a test that works on commits

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the "main" branch
  push:
    branches: [ "main" ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  imapushtest:
    # The type of runner that the job will run on
    runs-on: kingkong

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v3

      - uses: actions/upload-artifact@v3
        with:
          name: alex-html-artifact
          path: ~/basic.html

      - name: Run a two-king-kong-line script
        run:
          echo Hello, world line 1!
          echo Hello, world line 2!

      # Runs a set of commands using the runners shell
      - name: Run a multi-line script
        run: |
          echo Add other actions to build,
          echo test, and deploy your project.

      - name: Copy html
        run: cp basic.html ~/basic.html
